* {
    margin: 0;
}

.todo-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.todo-page>h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: rgba(175, 47, 47, 0.15);
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.todos-container {
    display: flex;
    width: 35%;
    flex-direction: column;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo {
    padding: 16px 16px 16px 30px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    outline: none;
    font-size: 24px;
    font-style: italic;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}

.fa-less-than {
    font-size: 30px;
    font-weight: 1000;
    color: rgb(162, 168, 172);
    transform: scale(2, 0.7) rotate(-90deg);
    cursor: pointer;
    margin-left: 6px;
    margin-right: 5px;

}

.icondarkmode {
    color: #676060;
}

.todolist {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.todo-item {
    display: flex;
    box-sizing: border-box;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(171, 165, 165);
    padding: 0px;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.todo-item:hover>.cancelicon {
    display: inline;
}

.checkbox-container {
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid rgb(190, 184, 184);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 0px;
    cursor: pointer;
}

.circlecheck {
    font-size: 40px;
    color: white;
}

.todotext {
    font-size: 24px;
    color: #4d4d4d;
    margin-left: 30px;
    outline: none;
    cursor: pointer;
}

input:checked+.checkbox-container .circlecheck {
    background-color: green;
}

#checkbox {
    display: none;
}

.todo-text-and-checkbox {
    display: flex;
    align-items: center;
}

input:checked~.todotext {
    text-decoration: line-through;
    color: rgb(208, 204, 200);
    transition: color 0.3s ease;
}

.cancelicon {
    font-size: 30px;
    color: rgb(206, 95, 95);
    display: none;
    cursor: pointer;
}

.hr {
    border-color: rgb(240, 230, 230);
}

.filters-container {
    display: flex;
    justify-content: space-between;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    align-items: center;
    color: #746e6e;
    margin-top: 0px;
}

.filters-container p {
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters p {
    margin-left: 8px;
    margin-right: 8px;
}

.active-filter {
    border: 1px solid #969191;
    padding: 4px;
    padding: 4px;
}

.display {
    visibility: hidden;
}

.displayfilter {
    display: none;
}

.footer {
    height: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
        0 8px 0 -3px #f6f6f6,
        0 9px 1px -3px rgba(0, 0, 0, 0.2),
        0 16px 0 -6px #f6f6f6,
        0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1200px) {
    .todos-container {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .todos-container {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .todos-container {
        width: 85%;
    }
}

.class{
    descent-override: hidden;
}
.cleass{
    descent-override: hidden;
}
.hi{
    display: block;
}
